nav.navbar.navbar-inverse
	.container-fluid
		div
			ul.nav.navbar-nav
				li.active
					a(href="#")
						|Acasa
				li.dropdown
					a.dropdown-toggle(data-toggle="dropdown" href="#")
						|Categorii
						span.caret
					ul.dropdown.menu
						li
							a(href="#")
								|Viata
						li
							a(href="#")
								|Dragoste
						li
							a(href="#")
								|Copilarie
						li
							a(href="#")
								|Amuzament
				li
					a(href="#")
						|Despre mine
				li
					a(href="#")
						|Contact