.blur-item {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
}
#container {
  margin-bottom: 60px;
}
.menu-label {
  margin-left: 5px;
}
body {
  background-image: url(http://www.motto.net.ua/pic/201209/2560x1600/motto.net.ua-19248.jpg);
}
