h2
    |Create new comment
.input-group
    textarea#commentContent.text.form-control(placeholder="Continut comentariu" aria-describedby="basic-addon3")
br
button#saveButton.btn.btn-default
    | Save