h2
   |Create new article
.input-group
   input#articleTitle.text.form-control(placeholder="Titlu articol" aria-describedby="basic-addon1")
br
.input-group
   textarea#articleDescription.text.form-control(placeholder="Descriere articol" aria-describedby="basic-addon2")
br
.input-group
    textarea#articleContent.text.form-control(placeholder="Continut articol" aria-describedby="basic-addon3")
br
button#saveButton.btn.btn-default
      | Save